<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body class="  justify-content-center text-center ">
    <h1 class="text-warning">Home Page</h1>
    <p class="text-white">This is home page</p>

    <form action="/logout" method="post">
        <button class="btn btn-outline-danger" type="submit">Sign Out</button>
    </form>
    <!-- <a href="/"><button class="btn btn-outline-danger">Sign Out</button></a> -->
    
</body>
</html>